<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customers</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddCustomerModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar>
  <!-- <ion-searchbar placeholder="Search..." (ionInput)="getItems($event)"></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let item of CustomerArraySearch">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/user.png" alt="item.Device_Name">
          <ion-icon name="trash" style="margin-left: 41%;margin-top: 37%;font-size: 30px;color: #b9002f;" (tap)="DelateCustomer(item._id)"></ion-icon>
        </ion-thumbnail>
        <div (tap)="switchUser(item._id)">
          <p>
            <span ion-text color="dark">Name: </span> {{item.first_name}}&nbsp;{{item.last_name}}</p>
          <p>
            <span ion-text color="dark">Email: </span> {{item.email}}</p>
          <p>
            <span ion-text color="dark">Phone: </span>
            <a href="tel:{{item.phone}}">{{item.phone}}</a>
            <!-- <button ion-button color="light" (tap)="dialNumber(item.phone)"><ion-icon name="call"></ion-icon>&nbsp;{{item.phone}}</button> -->
          </p>
          <p>
            <span ion-text color="dark">Password: </span>{{item.pass}}</p>
          <p>
            <span ion-text color="dark">Created On: </span>{{item.created_on | date:'short'}}</p>
          <p>
            <span ion-text color="dark">Total Vehicles: </span>
            <span ion-text color="danger">{{item.total_vehicle}}</span>
          </p>
        </div>
        <p>
          <button ion-button small (click)="openupdateCustomersModal(item)">Edit</button>
          <button ion-button small (click)="openAdddeviceModal(item)">Add Vehicle</button>
          <button ion-button small (click)="CustomerStatus(item)" *ngIf="item.status == true">Active</button>
          <button ion-button small color="danger" (click)="CustomerStatus(item)" *ngIf="item.status != true">InActive</button>
        </p>
      </ion-item>
    </div>
    <!-- <div *ngFor="let item of CustomerArraySearch">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/user.png" alt="item.Device_Name">
          <ion-icon name="trash" style="margin-left: 41%;margin-top: 37%;font-size: 30px;color: #b9002f;" (tap)="DelateCustomer(item._id)"></ion-icon>
        </ion-thumbnail>
        <div (tap)="switchUser(item._id)">
          <p>
            <span ion-text color="dark">Name: </span> {{item.first_name}}</p>
          <p>
            <span ion-text color="dark">Email: </span> {{item.email}}</p>
          <p>
            <span ion-text color="dark">Phone: </span>
            <a href="tel:{{item.phone}}">{{item.phone}}</a>
           
    </p>
    <p>
      <span ion-text color="dark">Password: </span>{{item.pass}}</p>
    <p>
      <span ion-text color="dark">Created On: </span>{{item.date}}</p>
    <p>
      <span ion-text color="dark">Total Vehicles: </span>
      <span ion-text color="danger">{{item.total_vehicle}}</span>
    </p>
    </div>
    <p>
      <button ion-button small (click)="openupdateCustomersModal(item)">Edit</button>
      <button ion-button small (click)="openAdddeviceModal(item)">Add Vehicle</button>
      <button ion-button small (click)="CustomerStatus(item)" *ngIf="item.status == true">Active</button>
      <button ion-button small color="danger" (click)="CustomerStatus(item)" *ngIf="item.status != true">InActive</button>
    </p>
    </ion-item>
    </div> -->
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>